@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Itim&display=swap');

body {
  margin: 0;
  font-family: 'Itim', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: large;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}